!!!
%html{lang: I18n.locale}
  %head
    %title= content_for?(:title) ? "#{yield(:title)} - Blog_another" : 'Blog_another'
    %meta(http-equiv="content-type" content="text/html" charset="utf-8")
    %meta(http-equiv="x-ua-compatible" content="ie=edge,chrome=1")
    %meta(name="description" content="Blog_another")
    %meta(name="author" content="Blog_another")
    %link(rel="shortcut icon" href="/images/favicon.png")

    = stylesheet_link_tag 'application', '//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css',
                          media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = yield :head
  %body
    = render 'layouts/partials/warnings'
    .container-narrow
      .masthead
        %nav.navbar.navbar-default
          .container-fluid
            / Brand and toggle get grouped for better mobile display
            .navbar-header
              %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
                %span.sr-only Toggle navigation
                %span.icon-bar
                %span.icon-bar
                %span.icon-bar
              =link_to root_path, class: 'navbar-brand' do
                %i.fa.fa-home
                Blog
            / Collect the nav links, forms, and other content for toggling
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
              %form.navbar-form.navbar-left
                .form-group
                  %input.form-control{:placeholder => "Search", :type => "text"}/
                %button.btn.btn-default{:type => "submit"}
                  %i.fa.fa-search{"aria-hidden" => "true"}
              %ul.nav.navbar-nav.navbar-right
                -if user_signed_in?
                  %li
                    = link_to destroy_user_session_path, method: :delete, class: 'btn-link' do
                      %i.fa.fa-sign-out
                      Çıkış Yap
                  %li
                    = link_to user_profile_path(current_user) do
                      %i.fa.fa-user
                      Profil Göster
                -else
                  %li
                    =link_to new_user_session_path do
                      %i.fa.fa-pencil-square-o{"aria-hidden" => "true"}
                      Giriş Yap
                  %li
                    =link_to new_user_registration_path do
                      %i.fa.fa-user{"aria-hidden" => "true"}
                      Üye Ol
          / /.navbar-collapse
          / /.container-fluid
      = render partial: 'layouts/partials/messages'
      = yield
      %hr/
      .footer
        %p Blog_another Copyright &copy; #{Time.zone.now.year} Tüm Hakları Saklıdır.